<div class="side-bar-r">
  <div class="d-flex flex-column p-3 text-white position-sticky top-0">
    <div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="button-addon2">
        <button class="btn btn-danger btn-outline-secondary text-white" type="button" id="button-addon2"><i
            class="bi bi-search"></i></button>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
</div>