/* Colocar aquí CSS "propio" */
body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

footer {
  height: 5vh;
  background-color: #d3d3d3;
}

.btn-submit {
  width: 100%;
}

#input-firstname {
  margin-right: 1.35rem;
}

#input-firstname,
#input-lastname {
  width: 48%;
}

@media (max-width: 1200px) {
  #input-firstname,
  #input-lastname {
    width: 100%;
    margin: 0;
  }
}

#form-card {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 4.4rem;
  margin-bottom: 4.4rem;
}

svg.logo-form {
  fill: #212529;
  height: 55px;
  width: 55px;
  margin-bottom: 0.5rem;
}

svg.logo-nav {
  fill: #e0e0e0;
  height: 30px;
  width: 30px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.contenido-card {
  margin-top: 2.4rem;
  padding-bottom: 1rem;
}

#avatar-input {
  margin-top: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  height: 95%;
}

.modal-dialog {
  max-width: 33%;
}

.modal-content {
  width: 100%;
}

p {
  color: #d3d3d3;
}

.side-bar-r,
.side-bar-l {
  width: 25%;
}

#btn-like:hover {
  background: #ff08001f;
  color: #ff0800a1;
}

#btn-like {
  border-radius: 50%;
  color: #ffff;
  height: 40px;
  width: 40px;
}

#btn-destroy {
  font-weight: 100;
}

.mightlike-card {
  padding-left: 1rem;
  padding-top: 0.5rem;
  height: 350px;
  background: #060708;
  border-radius: 3%;
}

.trends-card {
  padding-left: 1rem;
  padding-top: 0.5rem;
  height: 450px;
  background: #060708;
  border-radius: 3%;
}

.tweets:hover {
  background: #383f46;
}
