/* Colocar aquí CSS "propio" */
body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.btn-submit {
  width: 100%;
}

#input-firstname {
  margin-right: 1.35rem;
}

#input-firstname,
#input-lastname {
  width: 48%;
}

@media (max-width: 1200px) {
  #input-firstname,
  #input-lastname {
    width: 100%;
    margin: 0;
  }
}

#form-card {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 4.4rem;
  margin-bottom: 4.4rem;
}

svg.logo-form {
  fill: #212529;
  height: 55px;
  width: 55px;
  margin-bottom: 0.5rem;
}

svg.logo-nav {
  fill: #e0e0e0;
  height: 30px;
  width: 30px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.contenido-card {
  margin-top: 2.4rem;
  padding-bottom: 1rem;
}

#avatar-input {
  margin-top: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  height: 95%;
}

.modal-dialog {
  max-width: 33%;
}

.modal-content {
  width: 100%;
}

p {
  color: #e0e0e0;
}

.side-bar-r {
  width: 30%;
}
.side-bar-l {
  width: 25%;
}

#btn-like:hover {
  background: #ff08001f;
  color: #ff0800a1;
}

#btn-like {
  padding: 0;
  border-radius: 50%;
  color: #e0e0e0;
  height: 30px;
  width: 30px;
}

#btn-destroy {
  font-weight: 100;
}

.trends-card {
  padding-top: 0.7rem;
  height: 500px;
  background: #060708;
  border-radius: 3%;
}

.mightlike-card {
  padding-top: 0.7rem;
  height: 310px;
  background: #060708;
  border-radius: 3%;
}

.trends-card h3,
.mightlike-card h3 {
  margin-top: 0.3rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.mini-headlines {
  padding: 0.8rem;
  animation-name: fade-out;
  animation-duration: 0.5s;
}

@keyframes fade-out {
  from {
    background: #181a1d9b;
  }
  to {
    background: #060708;
  }
}

.mini-headlines:hover {
  background: #181a1d9b;
  animation-name: fade-in;
  animation-duration: 0.5s;
}
@keyframes fade-in {
  from {
    background: #060708;
  }

  to {
    background: #181a1d9b;
  }
}

.tweets {
  animation-name: fade-out2;
  animation-duration: 0.5s;
}
@keyframes fade-out2 {
  from {
    background: #383f46;
  }

  to {
    background: #181a1d9b;
  }
}

.tweets:hover {
  background: #383f46;
  animation-name: fade-in2;
  animation-duration: 0.5s;
}

@keyframes fade-in2 {
  from {
    background: #181a1d9b;
  }

  to {
    background: #383f46;
  }
}

.nav-link {
  height: 3rem;
  animation-name: fade-out2;
  animation-duration: 0.5s;
}

.nav-link:hover {
  background: #383f46;
  animation-name: fade-in2;
}

.mini-headlines p {
  font-size: 0.8rem;
  font-weight: 100;
  color: #606870;
}
.mini-headlines h6 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #e0e0e0;
}

.card1-header span {
  padding-right: 1.5rem;
}

#dropdown-toggle:hover {
  background: #ff08001f;
  color: #ff0800a1;
}

#dropdown-toggle {
  border-radius: 50%;
  color: #e0e0e0;
  height: 25px;
  width: 25px;
}

#btn-settings:hover {
  background: #383f46;
  color: #b6b6b6;
}

#btn-settings {
  text-align: center;
  border-radius: 50%;
  color: #e0e0e0;
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 1rem;
}

.btn-vermas {
  font-weight: 100;
  margin-left: 0.3rem;
}

#dropdown-tweet:hover {
  background: #ff08001f;
  color: #ff0800a1;
}

#dropdown-tweet {
  text-align: center;
  border-radius: 50%;
  color: #e0e0e0;
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 1rem;
}

footer {
  height: 5vh;
  color: #ffffff;
  background-color: #080808;
}

.main {
  max-width: 50%;
}

@media (max-width: 991px) {
  .side-bar-r {
    display: none;
  }

  .side-bar-l p {
    display: none;
  }

  .main {
    min-width: 60vw;
  }

  #contenedor {
    margin: 0;
  }

  nav.li {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
  }

  .nav-link {
    height: 2rem;
    width: 2rem;
  }

  .btn-twittear-lg {
    display: none;
  }

  .btn-twittear-sm {
    height: 2rem;
    width: 2rem;
    display: inline;
    margin-left: 0.5rem;
    border-radius: 50%;
  }

  #profilepill-lg {
    display: none;
  }

  #profilepill-sm {
    display: inline;
  }
}

@media (min-width: 991px) {
  .btn-twittear-sm {
    display: none;
  }

  #profilepill-lg {
    display: inline;
  }

  #profilepill-sm {
    display: none;
  }
}
